<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body style="background-color:#CAEE14;">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title th:text=" ${visitor != null} ? ${visitor} +', I hope you interested to hire me' : 'This is my CV'  "></title>
    <!--<title>th:text="${visitor}?${visitor}, ' I hope you interested to hire me' : 'This is My CV'" </title>-->
    <!--<title>th:text="${visitor}?${visitor}, 'I hope you interested to hire me':'This is My CV'  "</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mywebsite.css' %}">
    <link rel="import" href="navbar.html">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- Container (HOME Section) -->
<div id="home" class="container text-center">
    <h3> HALO! </h3>
    <!--<video width="400" controls loop autoplay>-->
    <!--<source src="{% static 'video/dandelion.mp4' %}" type="video/mp4">-->
    <!--Your browser does not support HTML5 video.-->
    <!--</video>-->
    <!--<p>-->
    <!--Video courtesy of-->
    <!--<a href="https://www.youtube.com/watch?v=RMMagqTaYDg" target="_blank">Youtube</a>.-->
    <!--</p>-->
    <img src="https://images.unsplash.com/photo-1470509037663-253afd7f0f51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
         width="200" height="200"alt="me">
    <p> Namaku Selvy Fitriani. Aku dilahirkan di kota kecil di ujung sumatera selatan yaitu Pagar Alam pada tanggal 10 Juli 2000. Sekarang, aku sedang menempuh pendidikan di Fakultas Ilmu Komputer yang sebelumnya masa sekolahku dihabiskan di kota kelahiranku. Aku adalah orang yang tertarik dengan dunia literasi, penyuka bunga, dan senang menjadi pendengar yang baik. Jadi, ayo berbagi cerita denganku! </p>
    <br>
</div>

<div id="education" class="container text-center" background-color = "red">
    <h3> FAVOURITE </h3>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Buku" width="300" height="255">
            <p><strong>Book</strong></p><br>
        </div>
        <div class="col-sm-4">
            <img src="https://images.unsplash.com/photo-1470509037663-253afd7f0f51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="SMP" width="300" height="255">
            <p><strong>Flower</strong></p><br>
        </div>
        <div class="col-sm-4">
            <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="SMA" width="300" height="255">
            <p><strong>Writing</strong></p><br>
        </div>
    </div>
</div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
    <h3 class="text-center">CONTACT</h3>

    <div class="row">
        <div class="col-md-4">
            <p><span class="glyphicon glyphicon-map-marker"></span>Depok,Jawa Barat</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +62 8267296324</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: selvyfiriani@gmail.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com and edited by Me</a></p>
    </footer>

    <script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>

